* {
    margin: 0;
    padding: 0;
}

.mybtn {
    right: 110px !important;

}

/* окно регистрации */

.form__wrap {
    /* display: flex; */
    padding: 100px;
}

.reg__header {
    font-size: 2rem;
    font-family: serif;
    text-align: center;
    color: grey; 
    margin: 0;
    padding: 0;
}

.reg__descr {
    font-size: 2rem;
    font-family: serif;
    text-align: center;
    color: grey; 
    margin: 0;
    padding: 0;
}

.btn__plate {
    position: relative;
}

.error__block {
    font-size: 2rem;
    font-family: serif;
    text-align: center;
    color: red;
}

.reg_success {
    border-bottom: 1px solid red;
}

.header__button {
    color: #ffab40;
    text-transform: uppercase;
    background: transparent;
    border: none;    
}

.card__descr {
    
    text-decoration: underline;
    margin-bottom: 5px;
}

/* окно регистрации end*/


/* карточка книг */

.catalog__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid grey;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 5px;
}

.header__wrapper {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.item__header{
    font-size: 1.25rem;
}

.item__img {
    height: 180px;
    width: 100px;
}

.book__img {
    height: inherit;
}

.item__descr {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 750px;  
}

/* карточка книг end */